*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

:root{
    --cor-azul: #22D4FD;
    --cor-cinza: #272727;

    --fonte-regular: 'Montserrat-Regular';
    --fonte-bold: 'Montserrat-Bold';
}


@font-face {
    font-family:'Montserrat-Regular';
    src: url(../media/Montserrat-Regular.ttf);
}

@font-face {
    font-family:'Montserrat-Bold';
    src: url(../media/Montserrat-SemiBold.ttf);
}