.banner{
    background-image: linear-gradient(to right, #002F52,#326589);
    color: white;
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo{
    font-family: var(--fonte-bold);
    font-size: 1.13rem;
}

.banner__texto{
    font-weight: 500;
    margin: 1.3rem 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 24px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-size: 1rem;
    text-align: center;
    color: white;
    padding-left: 1.90rem;
    background: url(../../../media/Lupa.svg) no-repeat;
    background-position: 0.5rem;
} 