/*MAIN*/

main{
    padding: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

section{
    width:593px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-family: var(--fonte-bold);
    font-size: 2.87rem;
}

strong{
    color: var(--cor-azul);
}

p{
    font-family: var(--fonte-regular);
    font-size: 1.25rem;
}

h2{
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: white;
    text-decoration: none;
    border: 2px solid var(--cor-azul);
    border-radius: 64px 48px 16px 96px;
    width: 280px;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--fonte-bold);
    font-size: 1rem;
}

.botao:hover{
    background-color: var(--cor-cinza);
    transition: 0.5s;
}

.botao img{
    width: 20px;
    height: 20px;
}
